---
import { getLastListenedSong } from "../../scripts/lastfm";
import { Lastfm } from "./Lastfm";

const lastSong = await getLastListenedSong();
---

<!-- <p>last.fm</p> -->
<Lastfm lastSong={lastSong} client:load />
