---
import { getCollection } from "astro:content";
import type { Post, RawPost } from "../../types/types";
import { calculateTimeAgo } from "../../utils/calculateTimeAgo";
import "../../styles/postsDisplay.css";

const posts = await getCollection(
  "posts",
  ({ data }: { data: Post }) => data.isPublished
).then((posts: RawPost[]) =>
  posts
    .sort((postA: RawPost, postB: RawPost) =>
      postA.data.date < postB.data.date ? 1 : -1
    )
    .slice(0, 3)
);
---

<div class="index-posts-grid">
  <h2>Últimos posts</h2>
  <div class="items">
    {
      posts.map((post: RawPost) => {
        const timeAgo = calculateTimeAgo(post.data.date);
        const summary =
          post.data.summary && post.data.summary.length > 100
            ? post.data.summary.slice(0, 100) + "..."
            : post.data.summary;
        return (
          <div class="item">
            <h4>
              <a href={`/posts/${post.slug}`}>{post.data.title}</a>
            </h4>
            <p class="summary">{summary}</p>
            <p class="date">{timeAgo}</p>
          </div>
        );
      })
    }
  </div>
  <a href="/posts">Ver todos los posts</a>
</div>
