---
const { prevPost, nextPost } = Astro.props;
---

<div class="pagination">
  <hr class="w-1/2 border-stone-200 dark:border-stone-700" />
  {
    nextPost && (
      <div class="pagination-item">
        <p>Siguiente</p>
        <a href={`/posts/${nextPost.slug}`}>{nextPost.data.title}</a>
      </div>
    )
  }
  {
    prevPost && (
      <div class="pagination-item">
        <p>Anterior</p>
        <a href={`/posts/${prevPost.slug}`}>{prevPost.data.title}</a>
      </div>
    )
  }
</div>
