---
export const prerender = true;

import NotesGrid from "../../components/NotesGrid.astro";
import Base from "../../layouts/Base.astro";

import "../../styles/notes.css";
---

<Base
  title="Notas"
  description="Lee mis pensamientos sobre desarrollo, diseño, música y más."
>
  <NotesGrid inPage />
  <div class="why-blog">
    <h2>¿Porqué escribir un blog?</h2>
    <p>
      Escribir en este lugar es una forma de mejorar mis habilidades de
      comunicación, aclarar y ordenar las ideas sobre cosas que creo o pretendo
      entender, todo esto ante la mirada de la gente que podría llegar a leerlo.
      Por lo tanto, este blog puede tener ser interesante para ti como puede ser
      totalmente aburrido y estúpido.
    </p>
    <p>
      Si pasaste por aquí y no encontraste nada util, puedes sugerirme algún
      tema del que escribir o si también tienes alguna duda sobre algún post.
      Estoy en twitter como <a
        href="https://x.com/byjuanberrios"
        target="_blank">@byjuanberrios</a
      >
    </p>
  </div>
</Base>
