---
import Base from "../../layouts/Base.astro";
import WorksGrid from "../../components/works/WorksGrid.astro";

import "../../styles/works.css";
---

<Base title="Portafolio">
  <div class="works">
    <header>
      <h1 class="inPage">Portafolio</h1>
      <!-- <h1>Portafolio</h1> -->
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit veritatis
        nisi omnis cumque corrupti vero veniam repudiandae error in, eligendi
        magnam ut nam facere eius culpa. Libero quod voluptatem sit.
      </p>
    </header>
    <WorksGrid />
  </div></Base
>
