---
import Base from "../../layouts/Base.astro";
import WorksGrid from "../../components/works/WorksGrid.astro";

// import "../../styles/works.css";
---

<Base title="Portafolio">
  <div class="works">
    <header>
      <h1 class="big regular">
        <span class="bold">Frontend developer</span>,
        <br />
        <span class="bold">UX/UI designer</span> chileno.
      </h1>
    </header>

    <section class="presentation">
      <p>
        Frontend developer con 5+ años de experiencia desarrollando productos
        digitales para los sectores <i>fintech</i>, <i>bancario</i>, <i
          >fitness</i
        >, <i>agrícola</i>, entre otros.
      </p>
      <p>
        Mi enfoque se centra mayormente en el <strong
          >desarrollo frontend para la web</strong
        > y el <strong>UX/UI</strong>. Cuento con experiencia colaborando con
        equipos multidisciplinarios para llevar a cabo proyectos que van desde
        la conceptualización hasta la implementación, asegurando siempre la
        calidad y el rendimiento de las aplicaciones.
      </p>
    </section>

    <section class="stack">
      <h2>Tech, stacks</h2>
      <p>
        He trabajando en proyectos que involucran las siguientes tecnologías:
        <strong>JavaScript</strong> (<em
          >Vanilla, TypeScript, con framewroks: React, Next.js, Astro</em
        >), <strong>HTML</strong>, <strong>CSS</strong> (<em
          >Vanilla, SASS, con frameworks: TailwindCSS, Bootstrap</em
        >), y algunos CMS (<em>Wordpress, Payload, Ghost, Sanity, Strapi</em>).
      </p>
    </section>

    <section class="can-do">
      <h2>En simple</h2>
      <p>
        Puedo realizar proyectos simples y medianamente complejos por mi mismo.
        Desde <strong>sitios web corporativos</strong>, <strong
          >informativos</strong
        >, <strong>portafolios</strong>, <strong>revistas digitales</strong> y <strong
          >tiendas</strong
        >, hasta pequeñas <strong
          >aplicaciciones web para administrar negocios</strong
        >.
      </p>
    </section>

    <WorksGrid />
  </div></Base
>
