---
import Base from "../../layouts/Base.astro";
import WorksGrid from "../../components/works/WorksGrid.astro";

import "../../styles/works.css";
---

<Base title="Portafolio">
  <div class="works">
    <header>
      <h1 class="big regular">
        <span class="bold">Frontend developer</span>,
        <br />
        <span class="bold">UX/UI designer</span> chileno.
      </h1>
    </header>

    <section class="about">
      <p>
        Frontend developer con 5+ años de experiencia desarrollando productos
        digitales para los sectores fintech, bancario, fitness, agrícola, entre
        otros.
      </p>
      <p>
        Mi enfoque se centra mayormente en el desarrollo frontend y el UX/UI.
        Cuento con experiencia colaborando con equipos multidisciplinarios para
        llevar a cabo proyectos que van desde la conceptualización hasta la
        implementación, asegurando siempre la calidad y el rendimiento de las
        aplicaciones.
      </p>
    </section>

    <section class="stack">
      <h2>Tech, stacks</h2>
      <p>
        He trabajando en proyectos que involucran las siguientes tecnologías:
        JavaScript (<em
          >Vanilla, TypeScript, con framewroks: React, Next.js, Astro</em
        >), HTML, CSS (<em
          >Vanilla, SASS, con frameworks: TailwindCSS, Bootstrap</em
        >), CMS (<em>Wordpress, Payload, Ghost, Sanity, Strapi</em>).
      </p>
    </section>

    <WorksGrid />

    <div class="about" id="about">
      <h2>Sobre mi</h2>
      <p>
        Desde que era niño, me pasaba horas explorando cómo hacer páginas web
        —en ese momento sin saber código—, eran tiempos donde la web era mucho
        más simple con sus contadores y libros de visitas. Sin embargo, mi deseo
        de hacer cosas más profesionales me llevó a aprender un poco de
        programación.
      </p>
      <p>
        Estudié diseño gráfico, mientras realizaba proyectos de manera
        freelance, aprendiendo a diseñar interfaces más atractivas y puliendo
        mis habilidades en paralelo.
      </p>
      <p>
        En 2018, comencé mi carrera profesional, "formal" uniéndome a una
        pequeña agencia digital. Allí, creé y desarrollé aplicaciones web y
        móviles aprendiendo al fin lenguajes como JavaScript y algunos
        frameworks.
      </p>
      <p>
        Actualmente trabajo de manera freelance y estoy buscando colaborar con
        otros profesionales en proyectos interesantes. Si quieres que trabajemos
        juntos contáctame a través de mis plataformas:
      </p>
      <ul>
        <li>
          <a
            href="https://linkedin.com/in/juanberrios"
            target="_blank"
            rel="noreferrer noopener">LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://x.com/byjuanberrios"
            target="_blank"
            rel="noreferrer noopener">Twitter (X)</a
          >
        </li>
        <li>
          <a
            href="https://instagr.am/byjuanberrios"
            target="_blank"
            rel="noreferrer noopener">Instagram</a
          >
        </li>
      </ul>
    </div>
  </div></Base
>
