.about {
    /* header {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-xs);
        margin-bottom: var(--space-2xl);
        h1 {
            margin: 0;
        }
        h1.big {
            max-width: 22ch;
        }
    } */
    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-m);
        margin: var(--space-3xl) 0;
        img {
            border-radius: var(--space-3xs);
        }
    }
}