/* @link https://utopia.fyi/type/calculator?c=360,14,1.15,1280,16,1.2,5,2,&s=0.75|0.5|0.25,1.25|1.5|2|3|4,s-l|xs-xs&g=s,xs,2xl,12 */
/* @link https://utopia.fyi/space/calculator?c=360,14,1.15,1280,16,1.2,5,2,&s=0.75|0.5|0.25,1.25|1.5|2|3|4,s-l|xs-xs&g=s,xs,2xl,12 */

:root {
    --step--2: clamp(0.6616rem, 0.6488rem + 0.0571vi, 0.6944rem);
    --step--1: clamp(0.7609rem, 0.7325rem + 0.126vi, 0.8333rem);
    --step-0: clamp(0.875rem, 0.8261rem + 0.2174vi, 1rem);
    --step-1: clamp(1.0063rem, 0.9304rem + 0.337vi, 1.2rem);
    --step-2: clamp(1.1572rem, 1.0465rem + 0.4918vi, 1.44rem);
    --step-3: clamp(1.3308rem, 1.1753rem + 0.6908vi, 1.728rem);
    --step-4: clamp(1.5304rem, 1.3178rem + 0.9447vi, 2.0736rem);
    --step-5: clamp(1.7599rem, 1.4749rem + 1.2668vi, 2.4883rem);
  
    /* Space */
    --space-3xs: clamp(0.25rem, 0.25rem + 0vi, 0.25rem);
    --space-2xs: clamp(0.4375rem, 0.413rem + 0.1087vi, 0.5rem);
    --space-xs: clamp(0.6875rem, 0.663rem + 0.1087vi, 0.75rem);
    --space-s: clamp(0.875rem, 0.8261rem + 0.2174vi, 1rem);
    --space-m: clamp(1.125rem, 1.0761rem + 0.2174vi, 1.25rem);
    --space-l: clamp(1.3125rem, 1.2391rem + 0.3261vi, 1.5rem);
    --space-xl: clamp(1.75rem, 1.6522rem + 0.4348vi, 2rem);
    --space-2xl: clamp(2.625rem, 2.4783rem + 0.6522vi, 3rem);
    --space-3xl: clamp(3.5rem, 3.3043rem + 0.8696vi, 4rem);
  
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, 0.1522rem + 0.4348vi, 0.5rem);
    --space-2xs-xs: clamp(0.4375rem, 0.3152rem + 0.5435vi, 0.75rem);
    --space-xs-s: clamp(0.6875rem, 0.5652rem + 0.5435vi, 1rem);
    --space-s-m: clamp(0.875rem, 0.7283rem + 0.6522vi, 1.25rem);
    --space-m-l: clamp(1.125rem, 0.9783rem + 0.6522vi, 1.5rem);
    --space-l-xl: clamp(1.3125rem, 1.0435rem + 1.1957vi, 2rem);
    --space-xl-2xl: clamp(1.75rem, 1.2609rem + 2.1739vi, 3rem);
    --space-2xl-3xl: clamp(2.625rem, 2.087rem + 2.3913vi, 4rem);
  
    /* Custom pairs */
    --space-s-l: clamp(0.875rem, 0.6304rem + 1.087vi, 1.5rem);
    --space-xs-xs: clamp(0.6875rem, 0.663rem + 0.1087vi, 0.75rem);
  
    /* Colors */
    /* --color-white: #FCFCFC; */
    --color-white: #FAFAFA;
    --color-gray: #F5F5F5;
    --color-gray-dark: #EBEBEB;
    --color-gray-darker: #E0E0E0;
    --color-gray-darkest: #D6D6D6;
    --color-highlight: #7e7d7d;
    --color-lightning: #B7F723;
    --color-black-lighter: #4c4c4c;
    --color-black: #252525;
  }


body {
    /* background-color: var(--color-gray); */
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 400;
    font-size: var(--step-0);
    letter-spacing: calc(var(--step-0) * 3 / 100);
    line-height: 170%;
    &.alt {
        background-color: hsl(39, 68%, 95%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-white: #141414;
        --color-gray: #1F1F1F;
        --color-gray-dark: #292929;
        --color-gray-darker: #333333;
        --color-gray-darkest: #3D3D3D;
        --color-black-lighter: #dcdbdb;
        --color-black: #FCFBFB;
    }
}

p,
ol,
ul,
pre,
figure,
blockquote {
    margin-top: var(--space-s);
    color: var(--color-black-lighter);
}

blockquote {
    padding-left: var(--space-s);
    border-left: solid 1px var(--color-highlight);
}

.display-p { /* AUN SIN USAR */
    line-height: 160%;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: 500;
}

h1 {
    font-size: var(--step-3);
    letter-spacing: calc(var(--step-4) * 1.1 / 100);
    line-height: 140%;
    margin-top: calc(var(--space-3xl) + var(--space-xs));
}

h2 {
    font-size: var(--step-2);
    letter-spacing: calc(var(--step-3) * 1.1 / 100);
    line-height: 145%;
    margin-top: var(--space-xl);
}

h3 {
    font-size: var(--step-1);
    letter-spacing: calc(var(--step-2) * 1.1 / 100);
    line-height: 150%;
    margin-top: var(--space-l);
}

h4, 
h5, 
h6 {
    line-height: 160%;
}

h4 {
    font-size: var(--step-0);
    letter-spacing: calc(var(--step-1) * 1.1 / 100);
    margin-top: var(--space-m);
}

h5,
h6 {
    margin-top: var(--space-s);
}

h5 {
    font-size: var(--step--1);
    letter-spacing: calc(var(--step--1) * 1.1 / 100);
}

h6 {
    font-size: var(--step--2);
    letter-spacing: calc(var(--step--2) * 1.1 / 100);
}

figure {
    margin-block: calc(var(--space-m) + var(--space-s));
    img {
        /* NOTE: calc() here is for negative margin space */
        margin-inline: calc(var(--space-3xs) * -1);
        max-width: calc(100% + (2 * var(--space-3xs)));
    }
    figcaption {
        font-size: var(--step--1);
    }
}

figcaption {
    margin-top: var(--space-xs);
}

ul, 
ol {
    /* padding-left: var(--space-l); */
    padding-left: var(--space-xl);
}

ul {
    /* list-style-type: disc; */
    list-style-type: "→  ";
    /* list-style-position: outside; */
}

ol {
    list-style-type: decimal;
    /* list-style-position: outside; */
}

a {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    /* text-decoration-color: rgba(0, 0, 0, 0.4); */
    text-decoration-color: var(--color-highlight);
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    transition: all ease-out 0.3s;
    &:hover {
        text-decoration-color: rgba(0, 0, 0, 0);
    }
    &[href^="https://"]::after {
        content: '';
        width: calc(var(--space-s) - var(--space-3xs));
        height: calc(var(--space-s) - var(--space-3xs));
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 3C3.22386 3 3 3.22386 3 3.5C3 3.77614 3.22386 4 3.5 4V3ZM8.5 3.5H9C9 3.22386 8.77614 3 8.5 3V3.5ZM8 8.5C8 8.77614 8.22386 9 8.5 9C8.77614 9 9 8.77614 9 8.5H8ZM2.64645 8.64645C2.45118 8.84171 2.45118 9.15829 2.64645 9.35355C2.84171 9.54882 3.15829 9.54882 3.35355 9.35355L2.64645 8.64645ZM3.5 4H8.5V3H3.5V4ZM8 3.5V8.5H9V3.5H8ZM8.14645 3.14645L2.64645 8.64645L3.35355 9.35355L8.85355 3.85355L8.14645 3.14645Z' fill='%23252525' %3E%3C/path%3E%3C/svg%3E");
    }
    &[href^="https://juanberrios.com"]::after,
    &[href^="https://www.juanberrios.com"]::after {
        display: none !important;
    }
}

@media (prefers-color-scheme: dark) {
    a[href^="https://"]::after {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 3C3.22386 3 3 3.22386 3 3.5C3 3.77614 3.22386 4 3.5 4V3ZM8.5 3.5H9C9 3.22386 8.77614 3 8.5 3V3.5ZM8 8.5C8 8.77614 8.22386 9 8.5 9C8.77614 9 9 8.77614 9 8.5H8ZM2.64645 8.64645C2.45118 8.84171 2.45118 9.15829 2.64645 9.35355C2.84171 9.54882 3.15829 9.54882 3.35355 9.35355L2.64645 8.64645ZM3.5 4H8.5V3H3.5V4ZM8 3.5V8.5H9V3.5H8ZM8.14645 3.14645L2.64645 8.64645L3.35355 9.35355L8.85355 3.85355L8.14645 3.14645Z' fill='%23FCFBFB' %3E%3C/path%3E%3C/svg%3E");
    }
}

b, strong {
    font-weight: 500;
}

code {
    border-radius: var(--space-3xs);
    font-size: var(--step--1);
    padding: var(--space-3xs) var(--space-2xs);
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-gray-dark);
    border: solid 1px rgba(0,0,0,0.05);
}

pre {
    position: relative;
    border-radius: var(--space-xs);
    font-size: var(--step--1);
    border: solid 1px rgba(0,0,0,0.05);
    padding: 0;
    overflow: auto;
    margin-block: var(--space-m);
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
    code {
        line-height: 200%;
        padding: var(--space-2xs) var(--space-s);
        display: block;
        position: relative;
        border-radius: 0;
        background-color: transparent;
        border: none;
        margin: 0;
        span.line:last-of-type {
            display: none;
        }
    }
    &:before {
        /* content: 'Snippet'; */
        content: attr(data-language);
        /* content: "prefix" attr(data-language) / "Snippet"; */
        /* content: open-quote attr(data-language); */
        font-family: 'Neue Montreal', sans-serif;
        opacity: 0.8;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        font-size: var(--step--1);
        padding: var(--space-2xs) var(--space-m);
        background-color: var(--color-gray-darker);
    }
}

/* Extra typogaphic classes */
h1.inPage {
    margin-bottom: calc(var(--space-xl) + var(--space-s));
}

h1.big {
    font-size: var(--step-5);
    line-height: 130%;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 500;
}

/* Spacing */
.base-spacing {
    padding-inline: calc(var(--space-3xs) + var(--space-l));
    margin: auto;
}

.max-spacing {
    max-width: 647px;
}

.base-top-padding {
    margin-block-start: calc(var(--space-3xl) + var(--space-xl));
}

/* Spacing helpers */

.border-small {
    border-radius: var(--space-2xs);
}

/* Color helpers */
.text-highlight {
    color: var(--color-highlight);
}

.fill-highlight {
    fill: var(--color-highlight);
}

.stroke-highlight {
    stroke: var(--color-highlight);
}

.text-dark {
    color: var(--color-dark);
}

.fill-dark {
    fill: var(--color-dark);
}

.stroke-dark {
    stroke: var(--color-dark);
}

.text-lightning {
    color: var(--color-lightning);
}

.fill-lightning {
    fill: var(--color-lightning);
}

.stroke-lightning {
    stroke: var(--color-lightning);
}

hr {
    margin-block: var(--space-2xl);
    border-color: var(--color-gray-darkest);
    width: 50%;
    margin-inline: auto;
}