/* @link https://utopia.fyi/type/calculator?c=360,15,1.15,1280,17,1.2,5,2,&s=0.75|0.5|0.25,1.25|1.5|2|3|4,s-l|xs-xs&g=s,xs,2xl,12 */
/* @link https://utopia.fyi/space/calculator?c=360,15,1.15,1280,17,1.2,5,2,&s=0.75|0.5|0.25,1.25|1.5|2|3|4,s-l|xs-xs&g=s,xs,2xl,12 */

:root {
    --step--2: clamp(0.7089rem, 0.6976rem + 0.0504vi, 0.7378rem);
    --step--1: clamp(0.8152rem, 0.7877rem + 0.1221vi, 0.8854rem);
    --step-0: clamp(0.9375rem, 0.8886rem + 0.2174vi, 1.0625rem);
    --step-1: clamp(1.0781rem, 1.0011rem + 0.3424vi, 1.275rem);
    --step-2: clamp(1.2398rem, 1.1263rem + 0.5046vi, 1.53rem);
    --step-3: clamp(1.4258rem, 1.2653rem + 0.7134vi, 1.836rem);
    --step-4: clamp(1.6397rem, 1.4192rem + 0.98vi, 2.2032rem);
    --step-5: clamp(1.8856rem, 1.589rem + 1.3186vi, 2.6438rem);

    /* Space */
    --space-3xs: clamp(0.25rem, 0.25rem + 0vi, 0.25rem);
    --space-2xs: clamp(0.5rem, 0.4755rem + 0.1087vi, 0.5625rem);
    --space-xs: clamp(0.6875rem, 0.6386rem + 0.2174vi, 0.8125rem);
    --space-s: clamp(0.9375rem, 0.8886rem + 0.2174vi, 1.0625rem);
    --space-m: clamp(1.1875rem, 1.1386rem + 0.2174vi, 1.3125rem);
    --space-l: clamp(1.4375rem, 1.3641rem + 0.3261vi, 1.625rem);
    --space-xl: clamp(1.875rem, 1.7772rem + 0.4348vi, 2.125rem);
    --space-2xl: clamp(2.8125rem, 2.6658rem + 0.6522vi, 3.1875rem);
    --space-3xl: clamp(3.75rem, 3.5543rem + 0.8696vi, 4.25rem);
  
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, 0.1277rem + 0.5435vi, 0.5625rem);
    --space-2xs-xs: clamp(0.5rem, 0.3777rem + 0.5435vi, 0.8125rem);
    --space-xs-s: clamp(0.6875rem, 0.5408rem + 0.6522vi, 1.0625rem);
    --space-s-m: clamp(0.9375rem, 0.7908rem + 0.6522vi, 1.3125rem);
    --space-m-l: clamp(1.1875rem, 1.0163rem + 0.7609vi, 1.625rem);
    --space-l-xl: clamp(1.4375rem, 1.1685rem + 1.1957vi, 2.125rem);
    --space-xl-2xl: clamp(1.875rem, 1.3614rem + 2.2826vi, 3.1875rem);
    --space-2xl-3xl: clamp(2.8125rem, 2.25rem + 2.5vi, 4.25rem);
  
    /* Custom pairs */
    --space-s-l: clamp(0.9375rem, 0.6685rem + 1.1957vi, 1.625rem);
    --space-xs-xs: clamp(0.6875rem, 0.6386rem + 0.2174vi, 0.8125rem);

    /* Colors */
}

body {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 400;
    font-size: var(--step-0);
    letter-spacing: calc(var(--step-0) * 2 / 100);
    line-height: 170%;
}

p,
ol,
ul,
pre,
figure,
blockquote {
    margin-top: var(--space-s);
}

.display-p { /* AUN SIN USAR */
    line-height: 160%;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: 500;
}

h1 {
    font-size: var(--step-3);
    letter-spacing: calc(var(--step-3) * 0.5 / 100);
    line-height: 140%;
    margin-top: var(--space-2xl);
}

h2 {
    font-size: var(--step-2);
    letter-spacing: calc(var(--step-2) * 0.5 / 100);
    line-height: 145%;
    margin-top: var(--space-xl);
}

h3 {
    font-size: var(--step-1);
    letter-spacing: calc(var(--step-1) * 0.5 / 100);
    line-height: 150%;
    margin-top: var(--space-l);
}

h4, 
h5, 
h6 {
    line-height: 160%;
}

h4 {
    font-size: var(--step-0);
    letter-spacing: calc(var(--step-0) * 0.5 / 100);
    margin-top: var(--space-m);
}

h5,
h6 {
    margin-top: var(--space-s);
}

h5 {
    font-size: var(--step--1);
    letter-spacing: calc(var(--step--1) * 0.5 / 100);
}

h6 {
    font-size: var(--step--2);
    letter-spacing: calc(var(--step--2) * 0.5 / 100);
}

figure {
    margin-block: calc(var(--space-m) + var(--space-s));
    img {
        /* NOTE: calc() here is for negative margin space */
        margin-inline: calc(var(--space-3xs) * -1);
        /* width: 105%; */
        max-width: calc(100% + (2 * var(--space-3xs)));
    }
    figcaption {
        font-size: var(--step--1);
        opacity: 0.6;
    }
}

figcaption {
    margin-top: var(--space-xs);
}

ul, 
ol {
    padding-left: var(--space-l);
}

ul {
    list-style-type: disc;
    list-style-position: outside;
}

/* Extra typogaphic classes */
h1.inPage {
    margin-bottom: calc(var(--space-xl) + var(--space-s));
}

/* Spacing */
.base-spacing {
    padding-inline: calc(var(--space-3xs) + var(--space-l));
    margin: auto;
}

.max-spacing {
    max-width: 647px;
}

.base-top-padding {
    margin-block-start: var(--space-3xl);
}

/* Spacing helpers */

.border-small {
    border-radius: var(--space-2xs);
}

