.musicReleaseCard {
    width: 100%;
    margin-top: calc(var(--space-xl) + var(--space-xs));
    header {
        margin-bottom: var(--space-m);
        display: grid; 
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        column-gap: var(--space-m);
        img {
            border-radius: var(--space-3xs);
            margin-block: 0
        }
        .releaseData {
            display: grid; 
            align-items: flex-start; 
            align-content: flex-start; 
            padding-top: var(--space-3xs);
            p.position {
                margin: 0;
                font-variation-settings: 'wght' 550;
                width: var(--space-xl);
                height: var(--space-xl);
                display:grid; 
                place-content: center; 
                border-radius: 9999px;
                background-color: var(--color-accent-primary); 
                color: var(--color-background-primary);
                margin-bottom: var(--space-xs);
                font-size: var(--step--1);
            }
            h2 {
                margin-top: 0; 
                margin-bottom: var(--space-3xs);
                line-height: 1.25;
            }
            h4 {
                margin: 0; 
                line-height: 1.25;
            }
            .platformLinks {
                margin-top: var(--space-xs);
                .link {
                    line-height: 1.5;
                    a {
                        font-size: var(--step--1);
                    }
                }
            }
        }
    }
    &.small {
        background-color: var(--color-background-secondary);
        border: 1px solid var(--color-background-tertiary);
        border-radius: var(--space-2xs);
        margin-top: var(--space-xl);
        margin-bottom: var(--space-xl);
        padding: var(--space-s);
        header {
            grid-template-columns: calc(var(--space-xl) * 4) auto;
            margin-bottom: 0;
            img {
                border-radius: var(--space-2xs);
            }
            .releaseData {
                h2 {
                    font-size: var(--step-1);
                    margin-bottom: calc(var(--space-3xs) / 2);
                }
                h4 {
                    font-size: var(--step--1);
                    color: var(--color-accent-primary);
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .musicReleaseCard {
        header {
            .releaseData {
                p.position {
                    background-color: var(--color-accent-secondary); 
                }
            }
        }
    }
}