.musicReleaseCard {
    width: 100%;
    margin-top: calc(var(--space-xl) + var(--space-xs));
    header {
        margin-bottom: var(--space-m);
        display: grid; 
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        column-gap: var(--space-m);
        img {
            border-radius: var(--space-3xs);
            margin-block: 0
        }
        .releaseData {
            display: grid; 
            align-items: flex-start; 
            align-content: flex-start; 
            padding-top: var(--space-3xs);
            p.position {
                margin: 0; 
                font-size: var(--step-0);
                font-weight: 700; 
                width: var(--space-xl);
                height: var(--space-xl);
                display:grid; 
                place-content: center; 
                border-radius: 9999px;
                background-color: hsl(192 100% 48%); 
                background-color: var(--color-highlight); 
                color: var(--color-white);
                margin-bottom: var(--space-xs);
                font-size: var(--step--1);
            }
            h2 {
                margin-top: 0; 
                margin-bottom: var(--space-3xs);
                line-height: 1.25;
            }
            h4 {
                margin: 0; 
                line-height: 1.25;
            }
            .platformLinks {
                margin-top: var(--space-xs);
                .link {
                    line-height: 1.5;
                    a {
                        font-size: 0.85rem;
                        font-size: var(--step--1);
                    }
                }
            }
        }
    }
}