.footer {
    margin-top: var(--space-3xl) !important;
    padding-bottom: var(--space-2xl);
    color: var(--color-foreground-primary);
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--step--1);
        padding-top: var(--space-m);
        border-top: solid 1px var(--color-background-quaternary);
        .made {
            display: flex;
            align-items: center;
            gap: var(--space-3xs);
            color: var(--color-accent-primary);
            svg {
                width: calc(var(--space-2xs) + var(--space-2xs));
                height: calc(var(--space-2xs) + var(--space-2xs));
            }
            p {
                margin: 0;
                color: var(--color-accent-primary)
            }
        }
        .links {
            color: var(--color-accent-primary);
            display: flex;
            gap: var(--space-s);
        }
    }
}