header.main-header {
    padding-block: calc(var(--space-l-xl) + var(--space-2xs));
    padding-inline: calc(var(--space-3xs) + var(--space-l));
    margin-inline: auto;
    /* max-width: 1320px; */
    max-width: min(1320px, 100%)
}

header.main-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-avatar {
    display: block;
    background-color: var(--color-gray);
    border-radius: 100%;
    img {
        border-radius: 100%;
        width: var(--space-xl);
        height: var(--space-xl);
    }
}

.menu-button {
    cursor: pointer; 
    font-size: var(--step--1); 
    background-color: var(--color-black);
    /* background-color: var(--color-lightning); */
    border-radius: var(--space-s); 
    padding-block: var(--space-3xs); 
    padding-inline: var(--space-s);
    transition: all ease 0.3s;
    span {
        color: var(--color-white);
    }
    /* &:hover {
        background-color: var(--color-black-lighter);
    } */
}

