header.main-header {
    padding-block: calc(var(--space-l-xl) + var(--space-2xs));
    padding-inline: calc(var(--space-3xs) + var(--space-l));
    margin-inline: auto;
}

@media (width > 768px) {
    header.main-header {
        max-width: min(1320px, 92vw);
    }
}

header.main-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-avatar {
    display: block;
    background-color: var(--color-background-secondary);
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .popover {
        position: absolute;
        text-wrap: nowrap;
        left: 120%;
        visibility: hidden;
        opacity: 0;
        background-color: var(--color-background-tertiary);
        border: solid 1px var(----color-accent-primary);
        border-radius: var(--space-s);
        color: var(----color-accent-primary);
        font-size: var(--step--2);
        padding: 0 var(--space-2xs);
        transition: all ease-out 0.15s;
    }
    img {
        border-radius: 100%;
        width: var(--space-xl);
        height: var(--space-xl);
        &:hover {
            & ~ .popover {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.menu-button {
    cursor: pointer; 
    position: relative;
    .popover {
        position: absolute;
        background-color: var(--color-background-tertiary);
        border: solid 1px var(----color-accent-primary);
        border-radius: var(--space-s);
        color: var(----color-accent-primary);
        text-wrap: nowrap;
        font-size: var(--step--2);
        padding: 0 var(--space-2xs);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        left: -102%;
        visibility: hidden;
        opacity: 0;
        transition: all ease-out 0.15s;
    }
    span {
        font-size: var(--step--1); 
        background-color: var(--color-foreground-tertiary);
        font-variation-settings: 'wght' 500;
        
        border-radius: var(--space-s); 
        padding-block: var(--space-3xs); 
        padding-inline: var(--space-s);
        transition: all ease 0.3s;
        display: block;
        color: var(--color-background-primary);
        &:hover,
        &:focus {
            & ~ .popover {
                /* display: flex; */
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .menu-button {
        span {
            background-color: var(----color-accent-secondary);
        }
    }
}
