header.main-header {
    padding-block: calc(var(--space-l-xl) + var(--space-2xs));
    padding-inline: calc(var(--space-3xs) + var(--space-l));
    margin-inline: auto;
    /* max-width: 1320px; */
    max-width: min(1320px, 100%)
}

header.main-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-avatar {
    display: block;
    background-color: var(--color-gray);
    border-radius: 100%;
    img {
        border-radius: 100%;
        width: var(--space-xl);
        height: var(--space-xl);
    }
}

/* .menu {
    font-size: var(--step-0);
    text-decoration-line: none;
} */

.menu-button {
    cursor: pointer; 
    font-size: var(--step--1); 
    background-color: var(--color-black); 
    border-radius: var(--space-s); 
    padding-block: var(--space-3xs); 
    padding-inline: var(--space-s);
    transition: all ease 0.3s;
    span {
        color: white
    }
    &:hover {
        background-color: var(--color-black-lighter);
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: flex;
    place-items: start center;
    z-index: 999;
    transition: all ease 0.3s;
    .modal-content {
        position: relative;
        width: 88%;
        max-width: 500px;
        /* height: 75vh; */
        margin: 15vh auto 0;
        background-color: var(--color-gray-dark);
        border-radius: var(--space-xs);
        padding-block-end: var(--space-xs);
        .input {
            width: 100%;
            /* height: 30px; */
            color: var(--color-highlight);
            border-bottom: solid 1px rgba(0, 0, 0, 0.1);
            padding: var(--space-s) var(--space-m);
        }
        .menu {
            display: grid;
            padding: 0 var(--space-2xs);
            p.title {
                padding-inline: var(--space-xs);
                font-size: var(--step--1);
                font-weight: 500;
                color: var(--color-black-lighter);
                opacity: 0.7;
            }
            .links {
                margin-top: var(--space-3xs);
                a {
                    padding: var(--space-2xs) var(--space-xs);
                    font-size: var(--step-0);
                    text-decoration: none;
                    border-radius: var(--space-2xs);
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .name {
                        margin-left: var(--space-2xs);
                        flex-grow: 1;
                    }
                    .tag {
                        font-size: var(--step--2);
                        line-height: var(--step--1);
                        margin: 0;
                        border-radius: var(--space-3xs);
                        padding: var(--space-3xs) var(--space-2xs);
                        color: var(--color-highlight);
                        border: solid 1px rgba(0, 0, 0, 0.1);
                    }
                    &:focus, 
                    &:hover {
                        background-color: var(--color-gray-darkest);
                        .tag {
                            border: solid 1px rgba(0, 0, 0, 0.1);
                        }
                    }
                    &[href^="https://"]::after {
                        display: none;
                    }
                }
            }
        }
    }
    &.display-none {
        display: none;
    }
}