@keyframes skeleton-loading {
    0% {
      background-color: var(--color-gray-dark);
    }
    50% {
      background-color: var(--color-gray-darker);
    }
    100% {
      background-color: var(--color-gray-dark);
    }
  }

.listening-wrapper {
    margin-top: var(--space-3xl);
    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        .title-date {
            display: flex;
            align-items: center;
            gap: var(--space-xs);
            h2 {
                margin-top: 0;
                margin-bottom: calc(var(--space-3xs) / 1.5);
            }
            .date {
                display: flex;
                gap: var(--space-2xs);
                padding-bottom: calc(var(--space-3xs) / 2.5);
                p {
                    margin: 0;
                    display: inline-block;
                    font-size: calc(var(--step--2) * 0.9);
                    line-height: 160%;
                    padding: var(--space-3xs) var(--space-2xs);
                    border-radius: var(--space-2xs);
                    text-wrap: nowrap;
                    &.date {
                        background-color: var(--color-gray-darker);
                        color: var(--color-black);
                        &::first-letter {
                            text-transform: capitalize;
                        }
                    }
                    &.now {
                        background-color: var(--color-lightning);
                        color: var(--color-black);
                        display: flex;
                        align-items: center;
                        gap: var(--space-2xs);
                        align-items: center;
                    }
                }
            }
        }
        .lastfm {
            display: flex;
            justify-content: end;
            a {
                text-decoration: none;
                &::after {
                 display: none;
                } 
             }
        }
    }
    .listening {
        display: grid;
        align-items: center;
        grid-template-columns: 70px auto;
        gap: var(--space-s);
        margin-top: var(--space-m);
        .cover {
            border-radius: var(--space-3xs);
            background-color: var(--color-gray-darker);
        }
        .info {
            overflow: hidden;
            .song {
                p.name { 
                    font-size: var(--step-0);
                    line-height: 130%;
                    margin: 0;
                    overflow: hidden;
                }
                p.artist, p.album { 
                    font-size: var(--step--1);
                    line-height: 110%;
                    margin: 0;
                    margin-block: calc(var(--space-xs) - var(--space-2xs));
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                    overflow: hidden;
                }
                p.album {
                    opacity: 0.6;
                }
            }
        }   
    }
    &.listening-loading {
        header {
            .title-date {
                h2 {}
                .date {
                    p {}
                }
            }
            .lastfm {}
        }
        .listening {
            .cover {
                height: 70px;
                background-color: var(--color-gray-darker);
                animation: skeleton-loading 1.5s forwards infinite;
            }
            .info {
                .song {
                    display: grid;
                    gap: calc(var(--space-xs) - var(--space-2xs));
                    .name, .artist, .album {
                        background-color: var(--color-gray-darker);
                        animation: skeleton-loading 1.5s forwards infinite;
                    }
                    .name {
                        width: calc(var(--space-3xl) * 2.2);
                        height: var(--space-s);
                    }
                    .artist, .album {
                        width: calc(var(--space-3xl) * 1.4);
                        height: var(--space-xs);
                    }
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .listening-wrapper {
        header {
            .title-date {
                .date {
                    p {
                        &.now {
                            color: var(--color-white);
                        }
                    }
                }
            }
        }
    }
}