.lists {
    header {
      p {
        margin-bottom: var(--space-2xl);
      }
    }
    section.items {
      .item {
        &.disabled {
          opacity: 0.5;
          a {
            pointer-events: none;
          }
          h3 {
            &::after {
              content: "(no disponible)";
              font-size: var(--step--1);
              font-weight: 400;
              margin-left: var(--space-3xs);
            }
          }
        }
      }
    }
  }