.message {
    background-color: var(--color-gray-dark);
    padding-block: calc(var(--space-xs) + var(--space-3xs));
    padding-inline-start: calc(var(--space-s) + var(--space-3xs));
    padding-inline-end: calc(var(--space-s) + var(--space-xs));
    border-radius: var(--space-xs);
    border: solid 1px rgba(0,0,0,0.05);
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
    font-size: calc(var(--step--1) * 1.1);
    * {
        margin: 0;
    }
    .title {
        font-weight: 500;
        margin-bottom: calc(var(--space-3xs) + var(--space-3xs));
    }
    .content {
        line-height: 160%;
        opacity: 0.7;
    }
}

/* .message:first-of-type {
    margin-top: var(--space-xl);
} */