.notes-grid {
    p.title {
        opacity: 0.4;
        margin-top: var(--space-s);
    }
    .grid {
        .item {
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-column-gap: 0.4rem;
            margin-top: var(--space-3xs);
            text-decoration-line: none;
            p, span {
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
            }
            p {
                max-width: 100%;
            }
            hr {
                align-self: flex-end;
                border-style: dashed;
                border-color: rgba(0, 0, 0, 0.2);
                margin-bottom: 0.4rem;
                min-width: 2ch;
            }
        }
    }
    .more {
        display: inline-block;
        margin-block-start: var(--space-m);
    }
}

.why-blog {
    margin-block-start: calc(var(--space-xl) + var(--space-m));
    p {
        opacity: 0.7;
    }
}