.playlists-grid {
    display: grid;
    gap: calc( var(--space-s) + var(--space-2xs) );
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    .item {
        display: flex;
        align-items: center;
        gap: var(--space-s);
        img {
            /* width: calc( var(--space-2xl) + var(--space-3xl) ); */
            /* width: 30vw; */
            width: calc( var(--space-3xl) + var(--space-3xl) );
            /* height: calc( var(--space-2xl) + var(--space-3xl) ); */
            /* height: 30vw; */
            border-radius: var(--space-3xs);
        }
        .content {
            * {
                margin: 0;
            }
            .title {
                font-weight: 500;
            }
            .desc {
                font-size: var(--step--1);
                opacity: 0.5;
                margin-bottom: var(--space-2xs);
            }
            .platforms {
                display: flex;
                gap: var(--space-2xs);
            }
        }
    }
}