.playlists-grid {
    display: grid;
    gap: var(--space-2xl) var(--space-xl);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    .item {
        img {
            width: 100%;
            border-radius: var(--space-3xs);
        }
        .content {
            margin-top: var(--space-xs);
            padding-inline: var(--space-3xs);
            display: grid;
            grid-template-columns: 1fr auto;
            justify-content: space-between;
            * {
                margin: 0;
                line-height: 140%;
            }
            .data {
                .title {
                    font-variation-settings: 'wght' 550;
                    margin-bottom: calc(var(--space-3xs) / 2);
                }
                .desc {
                    font-size: var(--step--1);
                    opacity: 0.5;
                    line-height: 140%;
                    margin-bottom: calc(var(--space-xs) / 1.1);
                }
            }
            .platforms {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                gap: calc(var(--space-3xs) * 1.4);
                color: var(--color-background-primary);
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: var(--space-3xs);
                    text-decoration: none;
                    background-color: var(--color-foreground-tertiary);
                    /* padding: var(--space-2xs) calc(var(--space-xs)); */
                    text-wrap: nowrap;
                    border-radius: 100%;
                    width: var(--space-l);
                    height: var(--space-l);
                    &:after {
                        display: none !important;
                    }
                    [data-icon] {
                        font-size: calc(var(--space-xs) * 1.1);
                    }
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .playlists-grid {
        .item {
            .content {
                .platforms {
                    a {
                        background-color: var(--color-accent-secondary);
                    }
                }
            }
        }
    }
}
