.posts-grid {
    position: relative;
    h2 {
        margin-bottom: var(--space-s)
    }
    p.year {
        margin-top: var(--space-2xl);
        margin-bottom: var(--space-l);
        opacity: 0.4;
    }
    p.month {
        opacity: 0.4;
        text-transform: capitalize;
    }
    .grid {
        .item {
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-column-gap: 0.4rem;
            margin-top: var(--space-3xs);
            text-decoration-line: none;
            p, span {
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
            }
            p {
                max-width: 100%;
                color: var(--color-black)
            }
            hr {
                margin: 0;
                width: auto;
                align-self: flex-end;
                border-style: dashed;
                border-color: var(--color-gray-darker);
                margin-bottom: 0.4rem;
                min-width: 2ch;
            }
            span {
                text-transform: capitalize;
                color: var(--color-highlight);
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
    .more {
        display: inline-block;
        margin-block-start: var(--space-m);
        opacity: 0.6;
    }
}

@media (min-width: 768px) {
    .posts-grid {
        p.year {
            position: absolute;
            left: -6ch;
            margin-top: 0;
        }
        p.year {
            &:nth-child(n+3) {
                margin-top: var(--space-2xl);
                margin-bottom: 0;
            }
            &+p.month {
                margin-top: var(--space-2xl);
            }
        }
    }
}

.why-blog {
    margin-block-start: var(--space-3xl);
}

@keyframes ping {
    75%, 100% {
        transform: scale(4);
        opacity: 0;
    }
}

.updated {
    width: var(--space-s);
    height: var(--space-s);
    position: relative;
    overflow: visible !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .animated-ping {
        animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
        position: absolute;
        display: inline-flex;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        background-color: var(--color-lightning-dark);
        opacity: 0.75;
    }
    .ping {
        position: relative;
        display: inline-flex;
        border-radius: 100%;
        width: var(--space-2xs);
        height: var(--space-2xs);
        background-color: var(--color-lightning-dark);
    }
}