.index-posts-grid {
    h2 {
        margin-bottom: calc(var(--space-l) * 1.2);
    }
    .items {
        display: grid;
        width: 100%;
        gap: calc(var(--space-xl) * 0.9);
        margin-bottom: var(--space-l);
        .item {
            h4 {
                margin: 0;
            }
            p.summary {
                margin-top: var(--space-2xs);
                margin-bottom: var(--space-2xs);
            }
            .data {
                display: flex;
                gap: var(--space-m);
                p {
                    margin: 0;
                    font-size: var(--step--1);
                    opacity: 0.5;
                }
            }
        }
    }
}