.posts-grid {
    position: relative;
    h2 {
        margin-bottom: var(--space-s)
    }
    p.year {
        margin-top: var(--space-2xl);
        margin-bottom: var(--space-l);
        opacity: 0.4;
    }
    p.month {
        opacity: 0.4;
        text-transform: capitalize;
    }
    .grid {
        .item {
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-column-gap: 0.4rem;
            margin-top: var(--space-3xs);
            text-decoration-line: none;
            p, span {
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
            }
            p {
                max-width: 100%;
                color: var(--color-black)
            }
            .title {
                display: inline-flex; 
                align-items: center; 
                gap: var(--space-2xs);
            }
            hr {
                margin: 0;
                width: auto;
                align-self: flex-end;
                border-style: dashed;
                border-color: var(--color-gray-darker);
                margin-bottom: 0.4rem;
                min-width: 2ch;
            }
            span {
                text-transform: capitalize;
                color: var(--color-highlight);
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
    .more {
        display: inline-block;
        margin-block-start: var(--space-m);
        opacity: 0.6;
    }
}

@media (min-width: 768px) {
    .posts-grid {
        p.year {
            position: absolute;
            left: -6ch;
            margin-top: 0;
        }
        p.year {
            &:nth-child(n+3) {
                margin-top: var(--space-2xl);
                margin-bottom: 0;
            }
            &+p.month {
                margin-top: var(--space-2xl);
            }
        }
    }
}

.why-blog {
    margin-block-start: var(--space-3xl);
}

@keyframes ping {
    75%, 100% {
        transform: scale(4);
        opacity: 0;
    }
}

.updated {
    background-color: var(--color-black);
    padding: 
        calc(var(--space-3xs) / 2) 
        calc(var(--space-xs) / 1.2) 
        calc(var(--space-2xs) / 1.5);
    border-radius: var(--space-s);
    line-height: normal;
    span {
        margin: 0;
        font-size: var(--step--2);
        color: var(--color-white) !important;
    }
}

@media (prefers-color-scheme: dark) {
    .updated {
        background-color: var(--color-lightning);
    }
}