.index-posts-grid {
    h2 {
        margin-bottom: calc(var(--space-l) * 1.05);
    }
    .items {
        display: grid;
        width: 100%;
        gap: calc(var(--space-xl) * 0.9);
        margin-bottom: var(--space-l);
        .item {
            h4 {
                margin-top: 0;
                margin-bottom: var(--space-xs);
            }
            p.summary {
                margin-top: var(--space-2xs);
                margin-bottom: var(--space-3xs);
                font-size: calc(var(--step-0)* 0.95);
                line-height: 170%;
            }
            p.date {
                margin: 0;
                font-size: var(--step--1);
                opacity: 0.5;
                &::first-letter {
                    text-transform: capitalize;
                }
            }
        }
    }
}