
.presentation {
    margin-block-end: calc(var(--space-3xl) * 1.1) var(--space-2xl);
    
     header {
        margin-bottom: var(--space-3xl);
        p {
            line-height: 145%;
            .career {
                color: var(--color-highlight);
            }
        }
     }

    section.about {
      display: grid; 
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: var(--space-s);
      .card {
        p {
            margin-top: 0;
            line-height: 165%;
        }
      }
    }

    section.principal-links {
        h2 {
            margin-bottom: var(--space-xs);
        }
        .items {
            display: grid;
            gap: var(--space-3xs);
            a {
                display: grid;
                grid-template-columns: auto 1fr auto;
                grid-column-gap: 0.4rem;
                text-decoration-line: none;
                span {
                    &.slash {
                        color: var(--color-highlight);
                    }
                }
                hr {
                    margin: 0;
                    align-self: flex-end;
                    border-style: dashed;
                    border-color: var(--color-gray-darker);
                    width: auto;
                    min-width: 2ch;
                    margin-bottom: 0.4rem;
                }
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

.portfolio-data {
    margin-top: var(--space-2xl);
    line-height: 160%;
    border: solid 1px var(--color-gray-darker);
    border-radius: var(--space-xs);
    .item, .subitem {
        * {
            margin: 0;
        }
        .title {
            font-variation-settings: 'wght' 550;
            margin-bottom: var(--space-2xs);
        }
        .content {
            opacity: 0.6;
            line-height: 150%;
            padding-right: var(--space-s);
        }
    }
    .item {
        padding: var(--space-m) var(--space-m) var(--space-l);
        .title {
            display: inline-flex;
            align-items: center;
            gap: calc(var(--space-m) - var(--space-s));
        }
    }
    .subitem {
        padding: var(--space-s) var(--space-m) var(--space-xs);
        background-color: var(--color-gray-dark);
        border-top: solid 1px var(--color-gray-darker);
        font-size: var(--step--1);
        line-height: 150%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--space-xs);
        border-bottom-right-radius: var(--space-xs);
        .title {
            font-variation-settings: 'wght' 400;
            .availability {
                margin-right: var(--space-3xs);
                position: relative;
                top: -1px;
            }
        }
    }
}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

.availability {
    width: .375rem;
    height: .375rem;
    display: inline-flex;
    margin-left: .375rem;
    position: relative;
    .animated-ping {
        animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
        position: absolute;
        display: inline-flex;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        background-color: rgb(22 163 74);;
        opacity: 0.75;
    }
    .ping {
        position: relative;
        display: inline-flex;
        border-radius: 100%;
        width: .375rem;
        height: .375rem;
        background-color: rgb(22 163 74);;
    }
}