.colophon {
    .colophon-head {
        color: var(--color-highlight);
        margin-block-end: var(--space-2xl);
    }
}

@media (prefers-color-scheme: dark) {
    .colophon {
        .colophon-head {
            color: var(--color-lightning);
        }
    }
}