@keyframes skeleton-loading {
  0% {
    background-color: var(--color-background-tertiary);
  }
  50% {
    background-color: var(--color-background-quaternary);
  }
  100% {
    background-color: var(--color-background-tertiary);
  }
}


.timeline {
    margin-block: var(--space-3xl);
    h2 {
      margin-block-end: var(--space-s);
    }
    .items {
      display: grid;
      gap: var(--space-m);
      .timeline-item {
        padding-right: var(--space-xs);
        p {
          margin: 0;
          text-wrap: pretty;
          font-size: calc(var(--step-0) * 0.95);
          line-height: 170%;
          &.date {
            opacity: 0.5;
            font-size: var(--step--1);
            margin-bottom: var(--space-3xs);
            &::first-letter {
              text-transform: uppercase;
            }
          }
          &:has(img) {
            img {
              max-height: 40vh;
              margin-block: var(--space-s);
              border-radius: var(--space-3xs);
            }
          }
        }
      }
    }
    .timeline-loading {
      margin-top: var(--space-l);
      .dateX {
        width: calc(var(--space-3xl) * 1.4);
        height: var(--space-s);
        margin-bottom: var(--space-2xs);
        background-color: var(--color-background-tertiary);
        animation: skeleton-loading 1.5s forwards infinite;
      }
      .p {
        display: grid;
        gap: var(--space-3xs);
        &::before, &::after {
          content: '';
          display: block;
          height: var(--space-s);
          background-color: var(--color-background-tertiary);
          animation: skeleton-loading 1.5s forwards infinite;
        }
        &::before {
          width: 100%;
        }
        &::after {
          width: 60%;
        }
      }
    }
  }