.timeline {
    margin-block: var(--space-3xl);
    h2 {
      margin-block-end: var(--space-s);
    }
  }
  .timeline-item {
    margin-block: var(--space-s);
    p {
      margin: 0;
      &.date {
        opacity: 0.5;
        font-size: var(--step--1);
      }
    }
  }