.works {
    header {
        margin-bottom: var(--space-2xl);
        h1.big {
            margin-top: 0;
        }
    }
    .items {
        margin-top: var(--space-2xl);
        display: grid;
        gap: var(--space-2xl);
        .item {
            cursor: pointer;
            .image {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: calc(35vh + 5vw);
                height: calc(35vh + 7vw);
                max-height: 390px;
                background-color: var(--color-gray-dark);
                display: flex;
                justify-content: center;
                align-items: start;
                padding-top: var(--space-2xl);
                transition: all ease-out 0.3s;
            }
            .data {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                h4, p {
                    margin-top: var(--space-xs);
                }
                p {
                    color: var(--color-highlight)
                }
                .roles {
                    width: 100%;
                    p {
                        margin: 0;
                        line-height: 150%;
                        font-size: var(--step--1);
                        span {
                            &::after {
                                content: ', ';
                            }
                            &:last-child {
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            &:hover {
                .image {
                    background-color: var(--color-gray-darker);
                }
            }
        }
    }
    .about {
        margin-top: var(--space-3xl);
    }
}

.work {
    header {
        margin-bottom: var(--space-2xl);
    }
    .data {
        margin: var(--space-xl) 0;
        .item {
            display: grid;
            grid-template-columns: 0.35fr 0.65fr;
            padding: var(--space-xs) 0;
            border-bottom: solid 1px var(--color-gray-dark);
            p, a {
                margin: 0;
                font-size: calc(var(--step--1) * 1.1);
                line-height: 145%;
            }
            .tag {
                color: var(--color-highlight);
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .description {
        margin: var(--space-2xl) 0;
    }
    .image {
        width: 100%;
        height: 100%;
        background-color: var(--color-gray-dark);
        padding-top: var(--space-2xl);
        margin: var(--space-2xl) 0;
    }
    .images {
        display: grid;
        gap: var(--space-xl);
        img {
            border-radius: var(--space-3xs);
        }
    }
}