---
import "./palette.css";
---

<div class="palettes">
  <div class="palette">
    <div class="color" style="background-color: hsl(0, 14%, 99%);"></div>
    <div class="color" style="background-color: hsl(0, 0%, 96%);"></div>
    <div class="color" style="background-color: hsl(0, 0%, 92%);"></div>
    <div class="color" style="background-color: hsl(0, 0%, 88%);"></div>
    <div class="color" style="background-color: hsl(0, 0%, 84%);"></div>
    <div class="color" style="background-color: hsl(180, 0%, 49%);"></div>
  </div>
  <div class="palette">
    <div class="color" style="background-color: hsl(0, 0%, 8%);"></div>
    <div class="color" style="background-color: hsl(0, 0%, 12%);"></div>
    <div class="color" style="background-color: hsl(0, 0%, 16%);"></div>
    <div class="color" style="background-color: hsl(0, 0%, 20%);"></div>
    <div class="color" style="background-color: hsl(0, 0%, 24%);"></div>
    <div class="color" style="background-color: hsl(180, 0%, 49%);"></div>
  </div>
</div>
