---
import Base from "../layouts/Base.astro";

import Message from "../components/Message.astro";
import Img from "../components/Img.astro";

import meImage from "../../src/assets/images/me.webp";
---

<Base title="About">
  <div class="about">
    <header>
      <h1 class="inPage big">
        Cristiano, <br />
        Esposo, <br />
        Padre, <br />
        Diseñador, <br />
        Frontend dev, <br />
        Chileno.
      </h1>
    </header>

    <div>
      <h2>Resumen</h2>
      <p>
        Mi nombre es <strong>Juan Berrios</strong>. Soy un hombre <strong
          >esencialmente cristiano</strong
        >. Soy un <strong>diseñador UX/UI</strong>
        que aprendió <strong>desarrollo frontend</strong>
        de manera autodidacta. Vivo en Curicó, una pequeña ciudad a dos horas al
        sur de Santiago de Chile.
      </p>
    </div>

    <Message>
      Una presentación profesional la encuentras en <a href="/works"
        >mi portafolio</a
      >
    </Message>

    <!-- Imágenes -->
    <Img
      src={meImage}
      alt="Foto de Juan Berrios"
      isLocal
      classNames="profileImage"
      >Este soy yo. Foto hecha por <a
        href="https://instagram.com/iamthejean"
        target="_blank"
        rel="noreferrer noopener">@iamthejean</a
      ></Img
    >

    <div>
      <h2>Bio</h2>
      <p>
        Nací en Curicó, Chile, el 6 de julio de 1992. Pasé mis años escolares
        sin destacar atraído por el anime y la cultura japonesa. Estudié
        electrónica en un colegio técnico para obtener un título técnico que me
        permitiera juntar dinero. Después de egresar, trabajé tres años como
        operador de maquinaria en una viña, pero ese trabajo no me llenaba, no
        me hacía feliz y tampoco hacia felices a los demás.
      </p>
      <p>
        Tras muchas noches de trabajo repetitivo, decidí seguir algo que
        verdaderamente me apacionaba: el diseño.
      </p>
      <p>
        En 2013, ingresé a estudiar diseño gráfico en INACAP, Curicó. Me incliné
        rápidamente hacia lo digital, aunque sigo apreciando el diseño editorial
        y el branding creativo. Como la carrera no incluía desarrollo web,
        aprendí HTML, CSS y JavaScript por mi cuenta. Durante mis estudios,
        comencé a trabajar como freelance, acumulando proyectos de todo tipo,
        algunos memorables y otros que prefiero olvidar 🫠.
      </p>
      <p>
        Trabajé en una pequeña agencia de desarrollo de software, en la que
        trabajé desde branding (<i>muy humilde</i>) hasta desarrollo de sitios
        web y aplicaciones.
      </p>
      <p>
        Después de algunos años ingresé a Synaptic, una fintech. Allí aprendí
        mucho sobre desarrollo web, buenas prácticas y de Backend.
      </p>
      <p>
        Actualmente, trabajo en el diseño de interfaces y desarrollo de sitios
        de manera freelance.
      </p>
      <p>Puedes contactarme en cualquiera de las siguientes plataformas:</p>
      <ul>
        <li>
          <a
            href="https://linkedin.com/in/juanberrios"
            target="_blank"
            rel="noreferrer noopener">LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://x.com/byjuanberrios"
            target="_blank"
            rel="noreferrer noopener">Twitter (X)</a
          >
        </li>
        <li>
          <a
            href="https://instagr.am/byjuanberrios"
            target="_blank"
            rel="noreferrer noopener">Instagram</a
          >
        </li>
      </ul>
    </div>
  </div>
</Base>
