---
export const prerender = true;

import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";

import "../styles/about.css";
---

<Base title="About">
  <div class="about">
    <header>
      <h1 class="inPage big">
        Cristiano, <br />
        Esposo, <br />
        Diseñador, <br />
        Frontend dev, <br />
        Chileno.
      </h1>
    </header>

    <div>
      <h2>Resumen</h2>
      <p>
        Mi nombre es <strong>Juan Berrios</strong>. Soy un hombre <strong
          >esencialmente cristiano</strong
        >, estoy casado hace más de tres años, soy un <strong
          >diseñador UX/UI</strong
        >
        que aprendió <strong>desarrollo frontend</strong>
        de manera autodidacta. Vivo en Curicó, una pequeña ciudad a dos horas al
        sur de Santiago de Chile.
      </p>
    </div>

    <div class="images">
      <Image
        src="https://2023.juanberrios.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fprofile-1.f062b21d.jpg&w=3840&q=75"
        inferSize={true}
        alt="Foto de Juan Berrios en un ambiente casual"
      />
      <Image
        src="https://2023.juanberrios.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fprofile-2.98965b43.jpg&w=3840&q=75"
        inferSize={true}
        alt="Foto de Juan Berrios trabajando"
      />
    </div>

    <div>
      <h2>Estoy trabajando en esta página</h2>
      <p>
        Desde que incorporé mi portafolio en el sitio web, trasladé la <em
          >Bio</em
        > que aquí estaba <a href="/works#about">hacia allá</a>, ya que estaba
        escrita desde un punto de vista profesional. Considerando que este sitio
        web es un <em>jardín digital</em> o una <em>web personal</em> ¿no debería
        tener una página "Acerca de" personal?
      </p>
    </div>
  </div>
</Base>
