---
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";

import "../styles/about.css";
---

<Base title="About">
  <div class="about">
    <header>
      <h1 class="inPage">About</h1>
    </header>

    <div>
      <h2>Resumen</h2>
      <p>
        Soy un hombre <strong>esencialmente cristiano</strong>, estoy casado
        hace más de tres años, en lo laboral soy un <strong>diseñador</strong> que
        aprendió <strong>desarrollo frontend</strong>
        de manera autodidacta. Vivo en Curicó, una pequeña ciudad dos horas al sur
        de Santiago de Chile.
      </p>
    </div>

    <div class="images">
      <Image
        src="https://2023.juanberrios.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fprofile-1.f062b21d.jpg&w=3840&q=75"
        inferSize={true}
        alt="Foto de Juan Berrios en un ambiente casual"
      />
      <Image
        src="https://2023.juanberrios.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fprofile-2.98965b43.jpg&w=3840&q=75"
        inferSize={true}
        alt="Foto de Juan Berrios trabajando"
      />
    </div>

    <div>
      <h2>Bio</h2>
      <p>
        Desde que era niño, me pasaba horas explorando cómo hacer páginas web
        —en ese momento sin saber código—, eran tiempos donde la web era mucho
        más simple con sus contadores y libros de visitas. Sin embargo, mi deseo
        de hacer cosas más profesionales me llevó a aprender un poco de
        programación.
      </p>
      <p>
        Estudié diseño gráfico, mientras realizaba proyectos de manera
        freelance, aprendiendo a diseñar interfaces más atractivas y puliendo
        mis habilidades en paralelo.
      </p>
      <p>
        En 2018, comencé mi carrera profesional, "<em>formal</em>"" uniéndome a
        una pequeña agencia digital. Allí, creé y desarrollé aplicaciones web y
        móviles aprendiendo al fin lenguajes como JavaScript y algunos
        frameworks.
      </p>
      <p>
        Actualmente trabajo de manera freelance y estoy buscando colaborar con
        otros profesionales en proyectos interesantes. Si quieres que trabajemos
        juntos contáctame a través de mis plataformas:
      </p>
      <ul>
        <li>
          <a
            href="https://linkedin.com/in/juanberrios"
            target="_blank"
            rel="noreferrer noopener">LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://x.com/byjuanberrios"
            target="_blank"
            rel="noreferrer noopener">Twitter (X)</a
          >
        </li>
        <li>
          <a
            href="https://instagr.am/byjuanberrios"
            target="_blank"
            rel="noreferrer noopener">Instagram</a
          >
        </li>
      </ul>
    </div>

    <!-- <div>
      <h2>
        Algunas <span class="text-highlight"><em>otras</em></span> cosas sobre mi
      </h2>
      <div>
        <h3>Otra sección</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ipsa
          placeat maiores. Labore natus deserunt autem laudantium doloremque
          tempore a, delectus accusantium? Possimus aliquam, autem incidunt
          quisquam fugit nihil magni.
        </p>
      </div>
      <div>
        <h3>Fe</h3>
        <p>Soy cristiano reformado y presbiteriano.</p>
      </div>
    </div> -->
  </div>
</Base>
