---
import Base from "../layouts/Base.astro";

import "../styles/about.css";
---

<Base>
  <div class="about">
    <header>
      <h1 class="big" style="max-width: 20ch">
        <span class="text-highlight">Diseñador</span> & <span
          class="text-highlight">desarrollador web</span
        > chileno.
      </h1>
      <p>
        Desde que era niño, me pasaba horas explorando cómo hacer páginas web
        —en ese momento sin saber código— con sus contadores y libros de
        visitas. Pero mi deseo de hacer cosas más profesionales me llevó a
        aprender por mi cuenta y a sumergirme en el desarrollo web y aprendiendo
        un poco de programación.
      </p>
      <p>
        Estudié diseño gráfico, mientras realizaba proyectos de manera
        freelance.
      </p>
      <p>
        En 2017, comencé mi carrera profesional, "<em>formal</em>"" uniéndome a
        una pequeña agencia digital. Allí, me tocó crear y desarrollar
        aplicaciones web y móviles, además de trabajar en proyectos de diseño
        relacionados con la imagen corporativa de las empresas.
      </p>
      <p>
        Actualmente trabajo de manera freelance y estoy buscando colaborar con
        otros profesionales en proyectos interesantes.
      </p>
    </header>

    <div class="things">
      <h2>6 cosas sobre mi</h2>
      <ol>
        <li>Soy cristiano reformado y presbiteriano.</li>
        <li>
          Vivo en Curicó, una pequeña ciudad ubicada dos horas al sur de
          Santiago de Chile.
        </li>
        <li>Estoy casado hace 3 años.</li>
        <li>
          Formalmente estudié diseño gráfico, así que todo lo que sé sobre
          desarrollo web lo he aprendido desde pequeño de manera autodidacta y
          gracias a developers generosos (<em>y con paciencia</em>).
        </li>
        <li>
          Me gusta mucho el té, sobre todo el té negro. Pero no me considero un
          aficionado al té.
        </li>
        <li>
          Siento una atracción fatal por la cultura japonesa, desde su música
          hasta el animé. Sin embargo, no me gusta la forma en que algunos
          fanáticos se comportan, lo encuentro un poco creepy. Prefiero
          disfrutar todo desde una perspectiva más tranquila y respetuosa.
        </li>
      </ol>
    </div>
  </div>
</Base>
