---
import Base from "../layouts/Base.astro";
import { BookmarksCategories } from "../components/bookmarks/BookmarksCategories";
import { BookmarksGrid } from "../components/bookmarks/BookmarksGrid";

import type { OrderedBookmark } from "../types/types";

import {
  getLinkdingBookmarks,
  getLinkdingCategories,
} from "../scripts/linkding";

const bookmarks: OrderedBookmark[] = await getLinkdingBookmarks();
const categories: string[] = await getLinkdingCategories();
---

<Base
  title="Bookmarks"
  description="Algunos de los marcadores de mi lista personal de Linkding"
>
  <div class="bookmarks">
    <header>
      <h1 class="mb-8">Bookmarks</h1>
      <BookmarksCategories categories={categories} client:load />
    </header>

    <BookmarksGrid bookmarks={bookmarks} client:load />
  </div>
</Base>
