---
import Base from "../layouts/Base.astro";
---

<Base title="Marcadores" description="…">
  <div class="bookmarks">
    <header>
      <h1>Marcadores</h1>
      <p>…</p>
    </header>
    <section class=""></section>
  </div>
</Base>
