---
import Base from "../layouts/Base.astro";

import "../styles/colophon.css";
---

<Base title="Colofón">
  <div class="colophon">
    <h1 class="colophon-head">© 2024</h1>
    <p>
      Diseño y código por <a
        href="https://github.com/byjuanberrios"
        target="_blank"
        rel="noreferrer noopener">Juan Berrios</a
      >
    </p>
    <h2>Stack</h2>
    <ul>
      <li><strong>Framework</strong>: Astro</li>
      <li><strong>Hosting</strong>: Cloudflare Pages</li>
      <li><strong>CSS framework</strong>: Utopia + Vanilla CSS</li>
      <li><strong>Content SDK</strong>: Astro Content Collections</li>
      <li><strong>Icons</strong>: Tabler icons</li>
    </ul>

    <h2>Tipografía</h2>
    <p>
      Todo el sitio web tiene la tipografía Neue Montreal creada por Mat
      Desjardins. Está disponible en <a
        href="https://pangrampangram.com/products/neue-montreal"
        rel="noreferrer noopener"
        target="_blank">Pangram Pangram Foundry</a
      >.
    </p>

    <h2>Fotografía</h2>
    <p>
      Fotografías tomadas por mi o por <a
        href="https://instagram.com/iamthejean"
        rel="noreferrer noopener"
        target="_blank">@iamthejean</a
      > a no ser que tengan su propia mención. Las portadas de las playlists fueron
      creadas por mi usando Affinity Designer o Figma.
    </p>
  </div>
</Base>
