---
import Base from "../layouts/Base.astro";
import { LinksCategories } from "../components/bookmarks/LinksCategories";
import { LinksGrid } from "../components/bookmarks/LinksGrid";

import type { OrderedBookmark } from "../types/types";

import {
  getLinkdingBookmarks,
  getLinkdingCategories,
} from "../scripts/linkding";

const bookmarks: OrderedBookmark[] = await getLinkdingBookmarks();
const categories: string[] = await getLinkdingCategories();
---

<Base
  title="Links"
  description="Algunos de los marcadores de mi lista personal de Linkding"
>
  <div class="links">
    <header>
      <h1 class="mb-8">Links</h1>
      <LinksCategories categories={categories} client:load />
    </header>

    <LinksGrid bookmarks={bookmarks} client:load />
  </div>
</Base>
