---
import Base from "../layouts/Base.astro";
import Message from "../components/Message.astro";

import "../styles/now.css";
---

<Base title="Now">
  <div>
    <h1 class="inPage regular">
      Qué estoy haciendo <span class="bold">ahora</span>
    </h1>
    <Message>
      Página inspirada en la idea de <a
        href="https://nownownow.com/about"
        target="_blank"
        rel="noopener">Derek Sivers</a
      >
    </Message>
    <div class="now">
      <p class="date">Actualizado el 18/07/2024</p>
      <h2>Haciendo</h2>
      <ul>
        <li>Preparando todo para mudarme de casa</li>
        <li>Buscando oportunidades laborales de manera remota</li>
      </ul>
      <h2>Viendo</h2>
      <ul>
        <li>House of the dragon S.2</li>
        <li>True Detective S.1</li>
      </ul>
      <h2>Escuchando</h2>
      <p>
        Prácticamente todos los días estoy escuchando música distinta, puedes
        ver mis playlist públicas en <a href="/playlists">Playlists</a>.
      </p>
      <h2>Leyendo</h2>
      <p>Nada por el momento</p>
    </div>
  </div>
</Base>
