---
import { getCollection } from "astro:content";
import { sortByDate } from "../utils/orderNotesByDate.astro";

import Base from "../layouts/Base.astro";
import Message from "../components/Message.astro";
import NowItem from "../components/NowItem.astro";

import "../styles/now.css";

const allNow = await getCollection("now");
const nowEntries = allNow.sort(sortByDate);
---

<Base title="Now">
  <div>
    <h1 class="inPage">Now</h1>
    <Message>
      Página inspirada en la idea de <a
        href="https://nownownow.com/about"
        target="_blank"
        rel="noopener">Derek Sivers</a
      >
    </Message>
    <div class="now">
      {
        nowEntries.map((item) => (
          <NowItem date={item.data.date} slug={item.slug} />
        ))
      }
    </div>
  </div>
</Base>
