---
import Base from "../layouts/Base.astro";

import "../styles/this.css";
---

<Base title="/this (Colofón)">
  <div class="colophon">
    <h1 class="colophon-head">© 2024</h1>

    <h2>Tecnologías</h2>
    <ul>
      <li><strong>Framework</strong>: Astro</li>
      <li><strong>Hosting</strong>: Cloudflare Pages</li>
      <li><strong>CSS framework</strong>: Utopia + Vanilla CSS</li>
      <li><strong>Content SDK</strong>: Astro Content Collections</li>
      <li><strong>Icons</strong>: Tabler icons</li>
    </ul>

    <h2>Tipografía</h2>
    <p>
      Todo el sitio web usa la tipografía <strong>Neue Montreal</strong> creada por
      Mat Desjardins. Está disponible en <a
        href="https://pangrampangram.com/products/neue-montreal"
        rel="noreferrer noopener"
        target="_blank">Pangram Pangram Foundry</a
      >.
    </p>

    <h2>Fotografía</h2>
    <p>
      Fotografías tomadas por mi o por <a
        href="https://instagram.com/iamthejean"
        rel="noreferrer noopener"
        target="_blank">@iamthejean</a
      > a no ser que tengan su propia mención. Las portadas de las playlists fueron
      creadas por mi usando Affinity Designer o Figma.
    </p>

    <h2>Inspiración</h2>
    <p>
      Gran parte del rediseño nació desde navegar hacia distintas webs desde el
      jardín digital de <a href="https://manuelmoreale.com/?ref=juanberrios.com"
        >Manuel Moreale</a
      >. De ahí repliquñe el diseño de la lista de "<em>pensamientos</em>"
    </p>
    <p>
      Por otro lado la idea de hacer un sitio web mucho más minimalista (<em
        >o al menos el intento</em
      >) vino a mi mente después de enamorarme de muchos sitios webs, aquí hay
      una pequeña lista:
    </p>
    <ul>
      <li>
        <a href="https://www.fabianschultz.com/?ref=juanberrios.com"
          >El sitio web de Fabian Schultz</a
        > de donde imité el Menú estilo barra de búsqueda.
      </li>
      <li>
        <a href="https://frankchimero.com/?ref=juanberrios.com"
          >El sitio web de Frank Chimero</a
        >
      </li>
      <li>
        <a href="https://linusrogge.com/?ref=juanberrios.com">
          El sitio web de Linus Rogge
        </a>
      </li>
      <li>
        <a href="https://www.atipamara.xyz/?ref=juanberrios.com"
          >El portafolio de Tatenda Christopher</a
        >
      </li>
      <li>
        <a href="https://paco.me/?ref=juanberrios.com"
          >El sitio web de Paco Coursey</a
        >
      </li>
      <li>
        <a href="https://stephango.com/?ref=juanberrios.com"
          >El sitio web de Steph Ango</a
        >
      </li>
      <li>
        <a href="https://matthewsmith.website/?ref=juanberrios.com"
          >El sitio web de Matthew Smith</a
        >
      </li>
      <li>
        <a href="https://alexcarpenter.me/?ref=juanberrios.com"
          >El portafolio de Alex Carpenter</a
        >
      </li>
      <li>
        <a href="https://mellow.dev/?ref=juanberrios.com">mellow.dev</a>
      </li>
      <li>entre otros…</li>
    </ul>
  </div>
</Base>
