---
import Base from "../layouts/Base.astro";
---

<Base title="/this (Colofón)">
  <div class="colophon">
    <h1 class="mb-10">© 2025</h1>

    <article>
      <p>
        Esta es una casa siempre en construcción donde <a href="/updates"
          >✍🏻 escribo cosas pequeñas</a
        >, <a href="/posts">cosas más extensas</a> y comparto cosas útiles o que
        me interesan (como mis <a href="/bookmarks">🔗 marcadores</a>).
      </p>
      <p>
        Puedes <a href="/about">🤓 conocer más sobre mi</a> o simplemente pasar a
        saludar a alguna de mis redes sociales, estoy en
        <a
          href="https://instagram.com/byjuanberrios"
          target="_blank"
          rel="noopener noreferrer">Instagram</a
        > y en <a
          href="https://x.com/byjuanberrios"
          target="_blank"
          rel="noopener noreferrer">X</a
        > como <strong>@byjuanberrios</strong>.
      </p>

      <h2>Tecnologías</h2>
      <ul>
        <li><strong>Framework</strong>: Astro</li>
        <li><strong>Hosting</strong>: Cloudflare Pages</li>
        <li>
          <strong>CSS framework</strong>: Una mezcla de Utopia + Tailwind CSS
        </li>
        <li><strong>Content SDK</strong>: Astro Content Collections</li>
        <li><strong>Icons</strong>: Tabler icons</li>
      </ul>

      <h2>Tipografía</h2>
      <p>
        Todo el sitio web usa la tipografía <strong>Neue Montreal</strong> creada
        por Mat Desjardins. Está disponible en <a
          href="https://pangrampangram.com/products/neue-montreal"
          rel="noreferrer noopener"
          target="_blank">Pangram Pangram Foundry</a
        >.
      </p>

      <h2>Fotografía</h2>
      <p>
        Fotografías tomadas por mi o por <a
          href="https://instagram.com/iamthejean"
          rel="noreferrer noopener"
          target="_blank">@iamthejean</a
        > a no ser que tengan su propia mención. Las portadas de las playlists fueron
        creadas por mi usando Affinity Designer o Figma.
      </p>

      <h2>Inspiración</h2>
      <p>
        Gran parte del rediseño nació desde navegar hacia distintas webs desde
        el jardín digital de <a
          href="https://manuelmoreale.com/?ref=juanberrios.com"
          >Manuel Moreale</a
        >. De ahí repliquñe el diseño de la lista de "<em>pensamientos</em>"
      </p>
      <hr />

      <p>
        El sitio web toma prestados algunos detalles de diseño de <a
          href="https://www.fabianschultz.com/?ref=juanberrios.com"
          >Fabian Schultz</a
        >, <a href="https://frankchimero.com/?ref=juanberrios.com"
          >Frank Chimero</a
        >, <a href="https://linusrogge.com/?ref=juanberrios.com">Linus Rogge</a
        >, <a href="https://www.atipamara.xyz/?ref=juanberrios.com"
          >Tatenda Christopher</a
        >, <a href="https://paco.me/?ref=juanberrios.com">Paco Coursey</a>, <a
          href="https://stephango.com/?ref=juanberrios.com">Steph Ango</a
        >, <a href="https://matthewsmith.website/?ref=juanberrios.com"
          >Matthew Smith</a
        >, <a href="https://alexcarpenter.me/?ref=juanberrios.com"
          >Alex Carpenter</a
        >, y <a href="https://mellow.dev/?ref=juanberrios.com">mellow.dev</a>,
        entre otros.
      </p>
    </article>
  </div>
</Base>
