---
import { Image } from "astro:assets";
import meImage from "../../src/assets/images/avatar.webp";

import "../styles/header.css";
---

<header class="main-header">
  <nav>
    <a href="/" class="brand-avatar">
      <Image src={meImage} alt="Avatar de Juan Berrios" />
    </a>
    <!-- <a href="/" class="menu">Links</a> -->
    <div
      style="cursor: pointer; font-size: var(--step--1); background-color: var(--color-dark); border-radius: var(--space-s); padding-block: var(--space-3xs); padding-inline: var(--space-s)"
    >
      <span style="color: white">Menu</span>
    </div>
  </nav>
</header>
