---
import { Image } from "astro:assets";
import meImage from "../../src/assets/images/avatar_3.webp";

import "../styles/header.css";
---

<header class="main-header">
  <nav>
    <a href="/" class="brand-avatar">
      <Image src={meImage} alt="Avatar de Juan Berrios" />
    </a>
    <button class="menu-button">
      <span>Menu</span>
    </button>
  </nav>
</header>
