---
import { Image } from "astro:assets";
import { MenuButton } from "./MenuButton";
import { CommandMenu } from "./CommandMenu";

import meImage from "../../src/assets/images/avatar_3.webp";

import "../styles/header.css";
---

<header class="main-header" transition:persist>
  <nav>
    <a href="/" class="brand-avatar">
      <Image src={meImage} alt="Avatar de Juan Berrios" />
    </a>
    <MenuButton client:load />
  </nav>

  <CommandMenu client:only="react" />
</header>
