---
import { Image } from "astro:assets";
import { MenuButton } from "./MenuButton";
import { CommandMenu } from "./CommandMenu";

import meImage from "../../src/assets/images/avatar.webp";

import "../styles/header.css";

const { currentPath } = Astro.props;
const message = currentPath === "/" ? "About" : "Ir al home";
const isHome = currentPath === "/";
---

<header class="main-header">
  <nav>
    <a href={isHome ? "/about" : "/"} class="brand-avatar">
      <Image src={meImage} alt="Avatar de Juan Berrios" loading="eager" />
      <div class="popover">{message}</div>
    </a>
    <MenuButton client:load />
  </nav>

  <CommandMenu client:only="react" />
</header>
