---
import "../styles/message.css";

const { title } = Astro.props;
---

<div
  class="message bg-stone-100 dark:bg-stone-800/30 border border-stone-200 dark:border-stone-500"
>
  <p class="title">{title || "Nota"}</p>
  <div class="content">
    <p>
      <slot />
    </p>
  </div>
</div>
