---
import { Icon } from "astro-icon/components";
---

<div class="portfolio-data">
  <div class="item">
    <p class="title">
      <Icon name="tabler:flare" opacity={0.7} />
      <span>Revisa mi portafolio</span>
    </p>
    <div class="content">
      <p>
        Encuentra mis trabajos de diseño y desarrollo <a
          href="https://works.juanberrios.com"
          rel="noopener noreferrer"
          target="_blank">en este link</a
        >
      </p>
    </div>
  </div>
  <div class="subitem">
    <p class="title">
      <span class="availability">
        <span class="animated-ping"></span>
        <span class="ping"></span>
      </span>
      <span>
        <strong>Disponible para trabajar</strong> en proyectos freelance o con empresas.
      </span>
    </p>
  </div>
</div>
