---
// import "../styles/presentation.css";
---

<!-- <div class="presentation mb-10"> -->
<div class="mb-12">
  <header class="mb-14">
    <p class="leading-snug">
      <strong>Juan Berrios</strong><br />
      <span class="career text-stone-500">
        Diseñador UI<br />
        Desarrolador Frontend
      </span>
    </p>
  </header>

  <section class="mb-6">
    <p>
      Este sitio web es mi patio de juegos donde publico, experimento, comparto
      cosas y por sobre todo reuno mi vida digital. Adelante, explóralo…
    </p>
  </section>

  <section class="principal-links">
    <div class="items grid gap-0.5">
      <a
        href="/posts"
        class="grid grid-cols-[auto_1fr_auto] gap-x-1.5 no-underline group hover:opacity-60"
      >
        <span><span class="slide-and-out"></span>&nbsp;&nbsp;Posts</span>
        <hr class="dashed-line" />
        <span class="slash text-stone-400">/posts</span>
      </a>

      <a
        href="/works"
        class="grid grid-cols-[auto_1fr_auto] gap-x-1.5 no-underline group hover:opacity-60"
      >
        <span><span class="slide-and-out"></span>&nbsp;&nbsp;Portafolio</span>
        <hr class="dashed-line" />
        <span class="slash text-stone-400">/works</span>
      </a>

      <a
        href="/about"
        class="grid grid-cols-[auto_1fr_auto] gap-x-1.5 no-underline group hover:opacity-60"
      >
        <span><span class="slide-and-out"></span>&nbsp;&nbsp;Sobre mi</span>
        <hr class="dashed-line" />
        <span class="slash text-stone-400">/about</span>
      </a>

      <a
        href="/bookmarks"
        class="grid grid-cols-[auto_1fr_auto] gap-x-1.5 no-underline group hover:opacity-60"
      >
        <span><span class="slide-and-out"></span>&nbsp;&nbsp;Bookmarks</span>
        <hr class="dashed-line" />
        <span class="slash text-stone-400">/bookmarks</span>
      </a>
    </div>
  </section>
</div>
