---
import "../styles/presentation.css";
---

<div class="presentation">
  <header>
    <p>
      <strong>Juan Berrios</strong><br />
      <span>
        Diseñador UI<br />
        Desarrolador Frontend
      </span>
    </p>
  </header>

  <section style="margin-bottom: var(--space-xl)">
    <p>
      Este sitio web es mi patio de juegos donde publico, experimento, comparto
      cosas y por sobre todo reuno mi vida digital. Adelante, explóralo…
    </p>
  </section>

  <section class="principal-links">
    <div class="items">
      <a href="/posts">
        <span>→&nbsp;&nbsp;Posts</span>
        <hr />
        <span class="slash">/posts</span>
      </a>

      <a href="/works">
        <span>→&nbsp;&nbsp;Portafolio</span>
        <hr />
        <span class="slash">/works</span>
      </a>

      <a href="/about">
        <span>→&nbsp;&nbsp;Sobre mi</span>
        <hr />
        <span class="slash">/about</span>
      </a>

      <a href="/playlists">
        <span>→&nbsp;&nbsp;Playlists</span>
        <hr />
        <span class="slash">/playlists</span>
      </a>

      <a href="/bookmarks">
        <span>→&nbsp;&nbsp;Bookmarks</span>
        <hr />
        <span class="slash">/bookmarks</span>
      </a>
    </div>
  </section>
</div>
