---
import { Image } from "astro:assets";
import meImage from "../../src/assets/images/me-1.webp";

import "../styles/presentation.css";
---

<div class="presentation">
  <header>
    <h1 class="big" style="max-width: 19ch">
      Hola soy <span class="text-highlight">Juan Berrios</span>, <br />y este es
      mi jardín digital.
    </h1>
    <!-- <h1>
      Este es mi jardín digital, un espacio siempre en construcción donde
      escribo y comparto mis ideas.
    </h1> -->
    <p>
      Diseñador y desarrollador web chileno, viviendo en Curicó, esencialmente
      cristiano. Gran parte de lo que hago tiene que ver con internet.
    </p>
  </header>
  <div style="display: grid; margin-top: var(--space-l)">
    <a
      href="https://works.juanberrios.com"
      target="_blank"
      rel="noreferer noopener"
      style="display: flex; align-items: center">Portafolio</a
    >
    <a href="/notes">Notas</a>
    <a href="/playlists">Playlists</a>
    <a href="/now">Now</a>
  </div>
  <figure>
    <Image src={meImage} alt="Avatar de Juan Berrios" class="border-small" />
    <figcaption>Foto hecha por @iamthejean</figcaption>
  </figure>
</div>
