---
import "../styles/presentation.css";
// import PortfolioData from "./PortfolioData.astro";
---

<div class="presentation">
  <header>
    <h1 style="font-weight: 400;" class="big">
      El jardín digital de<br />
      <span style="font-weight: 500;">Juan Berrios</span>
    </h1>
    <p>
      Una casa siempre en construcción donde <a href="/notes">escribo</a>,
      publico los proyectos de mi <a href="/works">portafolio</a>, comparto <a
        href="/playlists">playlists</a
      >, <a href="/bookmarks">marcadores</a>, entre <a href="/lists"
        >otras cosas</a
      > útiles o que me interesan.
    </p>
    <p>
      Puedes <a href="/about">conocer más sobre mi</a>, sobre <a href="/this"
        >este sitio</a
      > o simplemente pasar a saludar a alguna de mis redes sociales, estoy en <a
        href="https://instagram.com/byjuanberrios"
        target="_blank"
        rel="noopener noreferrer">Instagram</a
      > y en <a
        href="https://x.com/byjuanberrios"
        target="_blank"
        rel="noopener noreferrer">X</a
      > como <strong>@byjuanberrios</strong>.
    </p>
  </header>

  <!-- <PortfolioData /> -->
</div>
