---
import { Image } from "astro:assets";

import meImage from "../../src/assets/images/me-1.webp";

import "../styles/presentation.css";
// import PortfolioData from "./PortfolioData.astro";
---

<div class="presentation">
  <header>
    <h1 class="big">
      Hola, soy <span class="text-highlight">Juan Berrios</span>, <br />y este
      es mi jardín digital.
    </h1>
    <p>
      Desarrollador frontend y diseñador UX/UI chileno, viviendo en Curicó. Soy
      esencialmente cristiano y gran parte de lo que hago tiene que ver con
      internet. Más info en <a href="/about">/about</a>
    </p>
  </header>

  <!-- <PortfolioData /> -->

  <figure>
    <Image
      src={meImage}
      alt="Avatar de Juan Berrios"
      class="border-small"
      loading="eager"
    />
    <figcaption>
      Este soy yo. Foto hecha por <a
        href="https://instagram.com/iamthejean"
        target="_blank"
        rel="noreferrer noopener">@iamthejean</a
      >
    </figcaption>
  </figure>
</div>
