---

---

<div class="mb-6">
  <header class="mb-8">
    <p class="leading-snug">
      <strong>Juan Berrios</strong><br />
      <span class="text-stone-500">Una persona. </span>
    </p>
  </header>

  <div class="mb-6">
    <p>
      Este sitio web es mi patio de juegos minimalista. Como una casa en el
      mundo digital (<i class="font-serif tracking-[0.3px]"
        >y como en los viejos tiempos</i
      >), un lugar donde publico, experimento, comparto cosas y por sobre todo
      reuno mi vida digital. Te invito a pasar por aquí, explorar, y saludar en
      alguna de mis redes.
    </p>
  </div>
</div>
