---

---

<div class="mb-12">
  <header class="mb-12">
    <p class="leading-snug">
      <strong>Juan Berrios</strong><br />
      <span class="text-stone-500">Una persona. </span>
    </p>
  </header>

  <div>
    <p>
      Este sitio web es mi patio de juegos donde publico, experimento, comparto
      cosas y por sobre todo reuno mi vida digital. Adelante, explóralo…
    </p>
  </div>
</div>
