---
import { Image } from "astro:assets";
import meImage from "../../src/assets/images/me-1.webp";

import "../styles/presentation.css";
---

<div class="presentation">
  <header>
    <h1 class="big" style="max-width: 19ch">
      Hola soy <span class="text-highlight">Juan Berrios</span>, <br />y este es
      mi jardín digital.
    </h1>
    <!-- <p>
      Diseñador y desarrollador web chileno, viviendo en Curicó, esencialmente
      cristiano. Gran parte de lo que hago tiene que ver con internet.
    </p> -->
  </header>

  <div class="portfolio-data">
    <div class="item">
      <p class="title"><span>→ ¿Buscas mi portafolio?</span> 👀</p>
      <div class="content">
        <p>
          Puedes revisar mis trabajos de diseño y desarrollo <a
            href="https://works.juanberrios.com"
            rel="noopener noreferrer"
            target="_blank">en este link</a
          >
        </p>
      </div>
    </div>
    <div class="item">
      <p class="title">
        → Disponibilidad
        <span class="availability">
          <span class="animated-ping"></span>
          <span class="ping"></span>
        </span>
      </p>
      <div class="content">
        <p>Disponible para trabajar en proyectos freelance o con empresas.</p>
      </div>
    </div>
  </div>

  <figure>
    <Image src={meImage} alt="Avatar de Juan Berrios" class="border-small" />
    <figcaption>
      Este soy yo. Foto hecha por <a
        href="https://instagram.com/iamthejean"
        target="_blank"
        rel="noreferrer noopener">@iamthejean</a
      >
    </figcaption>
  </figure>
</div>
