---

---

<div class="mb-12">
  <header class="mb-8">
    <p class="leading-snug">
      <strong>Juan Berrios</strong><br />
      <span class="text-stone-500">Una persona. </span>
    </p>
  </header>

  <div class="mb-4">
    <p>
      Este sitio web es mi patio de juegos minimalista. Como una casa en el
      mundo digital (<i>y como en los viejos tiempos</i>), un lugar donde
      publico, experimento, comparto cosas y por sobre todo reuno mi vida
      digital. Te invito a pasar por aquí, explorar, y saludar en alguna de mis
      redes.
    </p>
  </div>

  <div class="grid gap-1 items-center">
    <a href="/posts"><span class="slide-and-out"></span>Posts</a>
    <a href="/updates"><span class="slide-and-out"></span>Microblog</a>
    <a href="/works"><span class="slide-and-out"></span>Portafolio</a>
    <a href="/about"><span class="slide-and-out"></span>Sobre mí</a>
    <a href="/links"><span class="slide-and-out"></span>Links</a>
  </div>
</div>
