---
const { prevNote, nextNote } = Astro.props;
---

{
  nextNote && (
    <div class="pagination-item">
      <p>Siguiente</p>
      <a href={`/notes/${nextNote.slug}`}>{nextNote.data.title}</a>
    </div>
  )
}
{
  prevNote && (
    <div class="pagination-item">
      <p>Anterior</p>
      <a href={`/notes/${prevNote.slug}`}>{prevNote.data.title}</a>
    </div>
  )
}
