---
import { Image } from "astro:assets";
import Base from "../../layouts/Base.astro";
import { getAlbums } from "../../scripts/notion";
import Message from "../../components/Message.astro";

import "../../styles/albums.css";

const albums = await getAlbums();
// console.log(albums[0].tracklist);
---

<Base
  title="Albums significativos"
  description="Lista actualizada de los los albums más significativos, impactantes o gratificantes que he escuchado en mi vida."
>
  <header class="albums-header">
    <h1 class="inPage">Albums significativos</h1>
    <Message title="En construcción">
      Aun tengo que curar más esta lista y la idea es agregar más información de
      cada album junto con enlaces donde escucharlos.
    </Message>
    <p>
      Lista actualizada de los albums más significativos, impactantes o
      gratificantes que he escuchado en mi vida.
    </p>
  </header>

  <div class="albums">
    {
      albums.map((album) => (
        <a class="album" href={`/albums/${album.slug}`}>
          <Image
            src={album.cover || ""}
            alt={`${album.artist || "??"} - ${album.name || "??"}`}
            inferSize={true}
          />
          <div class="data">
            <h3>
              {album.name || "??"}{" "}
              <span>{album.year && `(${album.year})`}</span>
            </h3>
            <p>{album.artist || "??"}</p>
          </div>
        </a>
      ))
    }
  </div>
</Base>
