---
import { ViewTransitions } from "astro:transitions";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;

import "../styles/reset.css";
import "../styles/fonts.css";
import "../styles/app.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} — Juan Berrios` : "Juan Berrios"}</title>
    <meta
      name="description"
      content={description || `Jardín digital de Juan Berrios`}
    />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main class="base-spacing max-spacing base-top-padding">
      <slot />
    </main>
    <Footer class="base-spacing max-spacing" />
  </body>
</html>
